[Unit]
Description = Artifactory Service

[Service]
User=artifactory

ExecStart=/opt/artifactory-oss-7.71.9/bin/artifactoryManage.sh start
SyslogIdentifier=artifactory
Type=forking

[Install]
WantedBy=multi-user.target

