[Unit]
Description = Prometheus Service

[Service]
User=prometheus server service
workingDirectory=/opt/prometheus-{{ version }}.linux-amd64
ExecStart=/opt/prometheus-{{ version }}.linux-amd64/prometheus
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target